#dropzone {
    display: none;
}
#textlogo {
    margin-left: 20px;
}

.borderless {
}
.sidebar {
    visibility: visible;
}
.owl-item:hover {
    background-color: #cce2ff;
}
.videosnap:hover {
    background-color: #cce2ff;
}
.sidebartoggleicon:hover {
    background-color: #cce2ff;
}
.icon:hover {
    background-color: #cce2ff;
}
iframe {
    display: none;
}
.ui.embed {
    background-color: #000000 !important;
    padding-bottom: 45% !important;
}